
* {
    margin: 0;
	padding: 0;
}
body {
    /**body**/
	margin: 0;
	padding: 0;
    font-family: 'Brygada 1918', serif; 
    width: 100%;
}
#main {
    /**main de index.html**/
    width: 100%;
    background-color: lavender;
    padding-top: 10px;
    padding-bottom: 100px;
}
/*Components*/
@import "../scss/components/header";
@import "../scss/components/cuadros";
@import "../scss/components/vidrofusion";
@import "../scss/components/porcelanas";
@import "../scss/components/velas";
@import "../scss/components/footer";
@import "../scss/components/bio";
@import "../scss/components/tienda"; 
@import "../scss/components/contacto";
@import "../scss/components/curso";  
/*Base*/
@import "../scss/base/listas";
@import "../scss/base/variables";
@import "../scss/base/mapas";
@import "../scss/base/extends";
@import "../scss/base/mixins";








