/*generales*/
$font-size: 15px, 20px;
$color: lavender, magenta, violet, pink, rgb(45, 45, 54), rgba(0, 0, 0, 0.712);
$border: 1px solid black, 2px dashed rgb(39, 34, 25);
$border-r: 10%, 60%;
$width: fit-content, 3vw, 100%, 200px;
$height: 3vh, 15vh, 20%, 30vh, 200px;
$pad-marg: 10px, 20px, 100px;

/*header*/
$bg-c-h: rgb(106,0,252), 
rgb(255,14,147),
rgb(255,161,12), 
rgb(255,67,96), 
rgb(255,5,157); 

/*footer*/
$bg-c-f: rgb(232, 95, 241), rgb(211, 44, 253), rgb(125, 12, 255);